.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 250px;
    width: 30%;
    height: auto;
    background-color: #264653;
    border-radius: 20px;
}

form {
    width: 100%;
    padding: 40px;
}

.contactMeTitle {
    color: #fff;
    margin-bottom: 50px;
}

.inputs {
    margin-bottom: 40px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer; 
}

@media(max-width: 1000px){
    .contactContainer{
        width: 90%;
        height: 85vh;
    }
}