<section class="aboutMe">
    <div class="row">
        <div class="aboutCol">
            <h1>Sobre mí</h1>
            <p>Mi nombre es Simón Schroeder, tengo 28 años y me encuentro viviendo en Argentina, Santa Fe capital.
            Llegué a un punto avanzado en la carrera de diseño industrial y me empezó a gustar mas el diseño UX/UI, por 
            lo que decidí comenzar a leer, ver videos, escuchar podcast sobre el tema y ahí conocí la programación, me inclino
            más por el front-end, me pareció buena idea poder mezclar estos dos conocimientos. <br><br>
            Me gustan los desafíos y este proyecto fue uno para mí porque lo comencé sin conocimientos previos en el área, pero 
            logré concluirlo, ganando bastante experiencia técnica, una buena tolerancia a la frustración y a usar mucho google!. <br>
            Me considero una persona creativa, proclive a buscar distintas soluciones a un problema hasta dar con la solución deseada.
           <br>
           <br> PD: Amo a mis gatas.
            </p>
        </div>
        <div class="aboutCol">
            <img style="width: 100%;height: auto;"[lazyLoad]="cats1" alt="Me and my cats">
        </div>
    </div>
</section>
