.kontainer {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 30px 0px 30px 0px;
}

form {
    width: 80%;
}

.contactMeTitle {
    color: #fff;
    margin-bottom: 50px;
}

.inputs {
    margin-bottom: 40px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    border-radius: 10px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}
.botonCerrarModal{
    border-radius: 10px;
    width: 10%;
    float: right;
}
button {
    padding: 10px 5px 10px 5px;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.upload-boton {
    background: rgb(199, 88, 88);
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding: 0 25px;
    cursor: pointer;
}

.upload-boton:not(.chosen):hover {
    background: rgb(196, 108, 108);
}
label img {
    height: 15px;
    margin-right: 5px;
}

.advertencia-box{
    text-align: center;
    margin-bottom: 30px;
    background-color: red;
    border-radius: 5px;
}

.advertencia {
    display: inline-block;
    color: white;

}

.loading {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #ccc;
    border-radius: 50%;
    border-top-color: #645cff;
    animation: spinner 0.6s linear infinite;
    /* margin: 3rem auto; */
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

.preCarga{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    color: white;
    margin-top: 100px;
}

.preImg {
    background-color: red;
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
