<section class="presentation">
    <div class="box">
        <div class="texto">
            <h3>Hola</h3>
            <h1>Soy Simon Schroeder</h1>
            <p class="subtitle">Desarrollador web full stack junior, con 
                <br>conocimiento general en diseño UX/UI. </p>
                <div class="icons">
                    <a href="https://github.com/SchroederSimon" aria-label="Git" target="_blank"> <i class="fa-brands fa-github fa-2xl"></i></a>
                    <a href="https://www.instagram.com/schroeder_simon/" aria-label="Ig" target="_blank"> <i class="fa-brands fa-instagram fa-2xl"></i></a> 
                    <a href="https://www.linkedin.com/in/simon-schroeder-a2847a1b7/ "aria-label="Linkedin" target="_blank"> <i class="fa-brands fa-linkedin fa-2xl"></i></a> 
                </div>
            </div>
            <div class="imagen">
                <img [lazyLoad]="me" alt="Me">
            </div> 
        </div>
</section>
